@page "/localities/create"
@using DesafioBlazor.Components.Pages.Localities.Components
@rendermode InteractiveServer
@attribute [Authorize]

<h1>Criar uma localidade</h1>
<br>

<LocalityForm model="@model" onValidSubmit="@HandleSubmitAsync"/>

@code {
    private IBGE model { get; set; } = new();

    private async Task HandleSubmitAsync()
    {
        await _context.IBGE.AddAsync(model);
        await _context.SaveChangesAsync();
        _navigation.NavigateTo("/Localities", false);
    }
}
