@page "/localities"
@attribute [StreamRendering(true)]
@rendermode InteractiveServer

<h1>Localities IBGE</h1>
<button class="btn btn-primary" @onclick="NewLocality">Create</button>
<br>
<br>

<div class="input-group mb-3">
    <InputText class="form-control" placeholder="Insira o nome da cidade" aria-label="Insira o nome da cidade"
        aria-describedby="basic-addon2" @bind-Value="SearchCity" />

    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" @onclick="SearchCities">Pesquisar</button>
    </div>
</div>

<br>
<br>


@if (!localities.Any())
{
    <p class="text-center">
        @if (!string.IsNullOrEmpty(ErrorMessage))
        {
            <em>@ErrorMessage</em>
        }
        else
        {
            <em>Loading...</em>
        }
    </p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>City</th>
                <th>State</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var locality in GetFilteredLocalities())
            {
                <tr>
                    <td>@locality.Id</td>
                    <td>@locality.City</td>
                    <td>@locality.State</td>
                    <td>
                        <button class="btn btn-danger" @onclick="() => DeleteLocality(locality.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private string ErrorMessage = string.Empty;
    private IEnumerable<IBGE> localities { get; set; } = Enumerable.Empty<IBGE>();
    private string SearchCity { get; set; } = string.Empty;

    private IEnumerable<IBGE> GetFilteredLocalities() => localities.Where(x => string.IsNullOrEmpty(SearchCity) ||
    x.City.ToLower().Contains(SearchCity.ToLower()));

    protected override async Task OnInitializedAsync() => await LoadCitiesAsync();

    private async Task LoadCitiesAsync() =>
    localities = await _context.IBGE.AsNoTracking().Where(x =>
    string.IsNullOrEmpty(SearchCity) || x.City.ToLower().Contains(SearchCity.ToLower())).ToListAsync();

    private void NewLocality() => _navigation.NavigateTo("/localities/create", false);

    private async Task DeleteLocality(string id)
    {
        try
        {
            IBGE locality = await _context.IBGE.FirstOrDefaultAsync(x => x.Id.ToLower().Equals(id.ToLower()));
            if (locality == null)
                throw new Exception("Not found");

            _context.IBGE.Remove(locality);
            await _context.SaveChangesAsync();
            await LoadCitiesAsync();
        }
        catch (Exception e)
        {
            ErrorMessage = e.InnerException.Message;
        }
    }

    private async Task SearchCities()
    {
        if (string.IsNullOrEmpty(SearchCity))
        {
            await LoadCitiesAsync();
        }
    }
}
