@page "/localities"
@attribute [StreamRendering(true)]
@rendermode InteractiveServer

<h1>Localities IBGE</h1>
<button class="btn btn-primary" @onclick="NewLocality">Create</button>
<br>

@if (!localities.Any())
{
    <p class="text-center">
        @if (!string.IsNullOrEmpty(ErrorMessage))
        {
            <em>@ErrorMessage</em>
        }
        else
        {
            <em>Loading...</em>
        }
    </p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>City</th>
                <th>State</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var locality in localities)
            {
                <tr>
                    <td>@locality.Id</td>
                    <td>@locality.City</td>
                    <td>@locality.State</td>
                    <td>
                        <button class="btn btn-danger" @onclick="() => DeleteLocality(locality.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private string ErrorMessage = string.Empty;
    private IEnumerable<IBGE> localities { get; set; } = Enumerable.Empty<IBGE>();

    protected override async Task OnInitializedAsync() => localities = await _context.IBGE.AsNoTracking().ToListAsync();

    private void NewLocality() => _navigation.NavigateTo("/localities/create", false);

    private async Task DeleteLocality(string id)
    {
        try
        {
            IBGE locality = await _context.IBGE.FirstOrDefaultAsync(x => x.Id.ToLower().Equals(id.ToLower()));
            if (locality == null)
                throw new Exception("Not found");

            _context.IBGE.Remove(locality);
            await _context.SaveChangesAsync();
            _navigation.NavigateTo("/localities", true);
        }
        catch (Exception e)
        {
            ErrorMessage = e.InnerException.Message;
        }
    }
}
