@page "/"
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<div class="container mt-5">
    <h1 class="text-center">Olá, bem-vindo ao App de Localidades IBGE</h1>
    <p class="text-center text-muted">Acesse o menu e conheça as funcionalidades</p>
</div>
