@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Confirmação de senha esquecida</PageTitle>

<h1>Confirmação de senha esquecida</h1>
<p>
    Por favor, vá para seu email para resetar a senha.
</p>
